<!-- defines the top navigation bar for all pages upon login -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
<ul id = "navigation" class = "navbar-nav" style="margin: auto">
    <li class = "nav-item">
        <a class = "nav-link active" href="/">Homepage</a>
    </li>

    <li class = "nav-item">
        <a class = "nav-link active" href="/forgot">Reset Password</a>
    </li>
    <li class = "nav-item">
        <a class = "nav-link active" href="/logout">Logout</a>
    </li>
</ul>
</nav>